
p, ul, li, h1, h2, h3, h, a {
    /* Audiowide font works only if the font CSS is included from Google */
    font-family: "Audiowide", Verdana, Arial, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;

}

body {
    padding: 0 1em;
    background-color: #ECECEA;       /*cool colours: 558C89,#74AFAD,#D9853B,background:#ECECEA*/
}

#content, header { /* This expects id="content" ;) */
    margin: 0 auto;
    padding: 0 1em;
    max-width: 50em;
    border: 1px solid #888;
    background-color: white;
}

header {
    color: #fff;
    background-color: #74AFAD;
}

#content, footer { /* This expects id="content" ;) */
    margin: 0 auto;
    padding: 0 1em;
    max-width: 50em;
    border: 1px solid #888;
    background-color: white;
}

footer {
    color: #fff;
    background-color: #D9853B;
}

img { 
    width: 800px;
    height: 500px;
}
